<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de ofertas</title>
    <link rel="stylesheet" th:href="@{/css/estilolistaempleados.css}">
</head>

<body>
    <div class="container">
        <h1>Lista de Ofertas</h1>
        <div class="acciones-superiores">
            <a th:text="${'Agregar ofertas'}" th:href="@{/addoferta}"></a>
            <a th:href="@{/}">Volver</a>
            <a th:href="@{/limpiar1}">Limpiar</a>
        </div>

        <div th:if="${listaofertas != null and !listaofertas.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <th>Ítem</th>
                        <th>Descripcion</th>
                        <th>Forma de pago</th>
                        <th>Fecha creación</th>
                        <th>Codicones comerciales</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ofer : ${listaofertas}">
                        <td data-label="Ítem" th:text="${ofer.codigo}"></td>
                        <td data-label="Razón Social" th:text="${ofer.descripcion}"></td>
                        <td data-label="NIT" th:text="${ofer.formapago}"></td>
                        <td data-label="Contacto" th:text="${ofer.fechacreacion}"></td>
                        <td data-label="Celular" th:text="${ofer.codicioncomercial}"></td>
                        <td data-label="Acciones">
                            <a th:href="@{'/editarcliente/' + ${ofer.codigo}}">Modificar</a>
                            <a th:href="@{'/eliminarcliente/' + ${ofer.codigo}}"
                               onclick="return confirm('¿Está seguro de eliminar este empleado?')">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${listaofertas == null or listaofertas.empty}" class="vacio">
            <p>La lista de ofertas se encuentra vacía</p>
        </div>
    </div>
</body>

</html>
